*{
    box-sizing: border-box;
    font-family: 'Cause', cursive;
}
body{
    height: 100vh;
    width:auto;
    background-color: rgb(154, 206, 171);
    overflow: hidden;
}
.container{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    border: solid 1px black;
    background-color: white;
}
h1, h2{
    text-align: center;
}

button{
    cursor: pointer;
    margin: auto;
    padding: 5px;
    font-size: 15pt;
}
.bandeau_sup{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.grille_conteneur table{
    margin: auto;
    border: 2px solid black;
    border-collapse: collapse;
}
table th, table td{
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    height: 3em;
    width: 3em;
}
table tr:nth-of-type(3n) td { /* rend la bordure plus épaisse toutes les trois lignes*/
    border-bottom: 3px solid black;
}
table td:nth-of-type(3n) { /* rend la bordure plus épaisse toutes les trois colonnes*/
    border-right: 3px solid black;
}
.grille_conteneur input[type=number]{
    background-color: rgb(192, 192, 192);
    height: 100%;
    width: 100%;
    border: none;
    text-align: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.fixed_number{
    font-weight: 700;
}
.solved_grid{
    border: 2px solid green;
}
.error{
background-color: rgb(219, 73, 73);
}
.hide_popup{
    display: none;
}
.background_popup{
    background-color: #b9b8b8b2;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
.popup{
    margin: auto;
    margin-top: 10%;
    width: 55%;
    border: 1px solid #C4C4C4;
    background-color: #ffff;
    border-radius: 9px;
    padding: 10px;
    text-align: center;
}
.popup .fermer_popup{
    display: flex;
    justify-content: flex-end;
}
.popup .fermer_popup .fa-solid.fa-x{
    background-color: #E5E5E5;
    border-radius: 29px;
    margin: 4px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bandeau_inf{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
@media (max-width: 790px){
    body{
        overflow: visible;
    }
    .container{
        width: 100%;
    }
    .bandeau_inf{
        padding: 9px;
        gap: 1rem;
        display: flex;
        flex-direction: column;
    }
    .popup{
        width: 100%;
    }
}
